body {
  background-image: url(../media/pink_cloud.jpg);
  margin: 0 auto;

  background-position: center;
  font-family: Roboto, arial, sans-serif;
}

li {
  text-transform: capitalize;
}

p {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.city-format {
  font-size: 30px;
  font-weight: 100px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.description-format {
  margin: 0px;
  padding: 0px;
}

.temperature-format {
  display: inline;
  font-size: 60px;
  font-weight: 150px;
}
.summary-container {
  margin: 40px auto;
  padding: 0px;
}
.short-summary {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.weather-app-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.temp-container {
  margin: 20px auto;
  padding: 0px;
}

/* div.temp-container {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #eac0d4;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 20px;
  top: 50px;
}

.forcast-container {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: palevioletred;
  position: relative;
  top: 40px;
  padding: 50px;
  text-align: center;
}

.time-container {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 10px solid black;
  border-radius: 30px;
  background-color: turquoise;
  position: relative;
  top: 120px;
  padding: 10px;
  text-align: center;
} */
